@model PaginatedList<web.Models.Evidence>

@{
    ViewData["Title"] = "Evidence";
}

<h1>Evidence</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OutSortParm"]"  asp-route-currentFilter="@ViewData["CurrentFilter"]">Out time</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["WarehouseSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Warehouse</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ItemSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Item</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CustomerSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Customer</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Out)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
